.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* This pushes the footer down and keeps the layout stable */
  padding: 20px;
}

nav {
  display: block; /* Crucial: Angular components are inline by default */
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;

  
}
nav a.hover {
  color: #007BFF;
  text-decoration: underline;
}